* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Tapestry', cursive;
    font-size: 65px;
    color: red;
}

#logo {
    height: 130px;
}

li {
    display: inline-block;
    color: red;
    margin-right: 10px;
}

header {
    height: 120px;
    background-color: royalblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#aboutUs {
    height: 900px;
    background-image: url('img/bully1.jpg');
    background-size: cover;
}

#aboutBlurb {
    width: 45%;
    padding-top: 100px;
    font-size: 30px;
    margin-left: 30px;
    color: red;
}

.blackBox {
    background-color: black;
    position: absolute;
    height: 150px;
    width: 150px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    left: 25px;
    bottom: -80px;

}

#slideShow {
    margin: 10px;
}

#dogBlurb {
    font-size: 30px;
    color: lightpink;
    margin: 10px;
    background: black;
    width: 35%;
}

#ourDogs {
    height: 800px;
    background-image: url('img/grass.jpg');
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.blackBox , span {
    margin-top: 70px;
}

/* Landscape phones and tablets */
@media screen and (max-width: 999px) {

}

/* Mobile Phones */
@media screen and (max-width: 600px) {
    #logo {
        height: 80px;
    }

    h1 {
        font-size: 20px;
    }

    header {
        justify-content: space-evenly;
    }


}